// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Catamaran|Dancing+Script|Great+Vibes|Italianno')

$font1 = 'Dancing Script', cursive
$font2 = 'Great Vibes', cursive
$font3 = 'Allura', cursive
$font4 = 'Alex Brush', cursive
$font5 = 'Italianno', cursive
$font6 = 'Catamaran', sans-serif

$primary   = #9c27b0
$secondary = #00ca00
$tertiary  = #0039cb

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

// Font.
$family = 'Source Sans Pro', Helvetica, sans-serif
$family-fixed = 'Courier New', monospace

// Palette.
$bg =	#242943
$bg-alt =	#2a2f4a
$fg	= #ffffff
$fg-bold = #ffffff
$fg-light = rgba(244,244,255,0.2)
$border = rgba(212,212,255,0.1)
$border-bg = rgba(212,212,255,0.035)
$highlight = #9bf1ff
$accent1 = #6fc3df
$accent2 = #8d82c4
$accent3 = #ec8d81
$accent4 = #e7b788
$accent5 = #8ea9e8
$accent6 = #87c5a4
